body{
  margin: 0;
  height: 100vh;

}

ul{
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  cursor: pointer;
  
}

/* header标签 */
header{
  height: 80px;
  width: 100vw;
  position: fixed;
  top: 0;
  background-color: #fff;
  padding: 0 10vw;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #eee;
  z-index: 100;
  border-bottom:1px solid #ccc;
}

header .logo img{
  height: 50px;
}
.nav{
  display: flex;
  align-self: flex-start;
}

header .nav ul{
  display: flex;
  align-items: center;
}

header .nav ul li{
  padding: 0 1vw;
  color: #777;
  line-height: 80px;
  height: 80px;
  position: relative;/* 如果使用abosulute会使元素脱离文档流 */
  cursor: pointer;
}
header .nav ul li:hover{
  color: #f00;
}
header .nav ul li::after{
  content: '';
  width: 0;
  height: 2px;
  background-color: #777;
  position: absolute;
  bottom: 4px;
  left: 0;
  transition: width .5s ease;
}
header ul.nav li:hover::after{
  width: 100%;
}

.nav button{
  width: 50px;
  height: 50px;
  border: none;
  background: url("./images/btn.png") center no-repeat;
  outline: none;
  cursor: pointer;
  display: none;
}

/* 轮播图 */
.carousel{
  position: relative;
  width: 100%;
  height: 36vw;
  overflow: hidden;
  margin-top: 80px;
}
.carousel ul{
  width: 400vw; 
  display: flex;
  transition: .5s;
}

.carousel ul li{
  width: 100vw;

}
.carousel ul li img{
  width: 100%;
  height: 100%;
}

.carousel .btn{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 3vw;
  height: 6vw;
  text-align: center;
  line-height: 6vw;
  background: rgba(0, 0, 0, .3);
  color: #fff;
  cursor: pointer;
  display: none;
}

.carousel .next{
  right: 0;
}

.carousel:hover .btn{
  display: block;
}

/* 项目 */
.project {
  margin:50px 0;
}
.project .title {
 text-align: center;
 color: #bbb;
 font-weight: bold;
}

.project .pic ul {
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.project .pic ul li{
  box-sizing: border-box;
  margin: 15px 0;
  padding: 20px 10px ;
  border: 1px solid #ddd;
  text-align: center;
}
.project .pic ul li img:hover{
  transform: scale(1.1);
}

.project .pic ul li a img{
  width: 90%;
  transition: all .5s;
}

/* footer */
footer {
  height: 500px;
  background-image: url('./images/bottom.jpg');
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}

footer::after{
  position: absolute;
  left: 0;
  top: 0;
  content: '';
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, .3);
  transition: background 1s;
}
footer:hover::after{
  background: rgba(0, 0, 0, 0);
}






/* ******媒体查询 ******/

/* 550px  */
@media (max-width:550px){
  .project .title {
    font-size: small;
  }
  .nav button{
    display: block;
    margin-top: 15px;
  }
  header .nav ul{
    flex-wrap: wrap;
    position: relative;
    top: 80px;
    overflow: hidden;
    transition: .5s;
    height: 0;
  }
  header .nav ul.active{
    height: 200px;
  }
   header .nav ul li{
    width: 100%;
    height: 40px;
    line-height: 40px;
    background: #ccc;
    box-sizing: border-box;
    border-bottom: 1px solid #fff;
    text-align: center;
  }
}


/* 小于650 将nav li 的字体变小 */
@media screen and  (max-width:650px){
  header .nav ul li a{
    font-size: small;
  }
}

/* 1200px以上   显示4张*/
@media (min-width:1200px) {
  .project .pic ul li{
    width: 23%;
  }
}

/* 993px ~ 1200px 显示3张 */
@media (min-width:993px) and (max-width:1200px) {
  .project .pic ul li{
    width: 31%;
  }
}

/* 768~ 993  显示2张 */
@media (min-width:768px) and (max-width:993px) {
  .project .pic ul li{
    width: 47%;
  }
}

/* 768以下显示1张 */
@media (max-width:768px) {
  .project .pic ul li{
    width: 90%;
  }
  /* .carousel .btn{
    display: none !important;
  } */
}
